/* calender-overlay */
.comn-tooltip {
    background-color: #2a323a;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.09);
    z-index: 1;
    max-height: 170px;
    overflow: auto;
}

.comn-tooltip::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.comn-tooltip::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.comn-tooltip::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #777;
}

/* Handle on hover */
.comn-tooltip::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
}

.task-tooltip-inner {
    position: relative;
}
/* 
.task-tooltip-inner:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #2a323a;
} */

.tt__create-task {
    width: 98px;
}

.tt-text {
    padding: 10px;
    font-size: 13px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #fff;
}

.tt__create-task .task-tooltip-inner:after {
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
}

.tt__holiday .task-tooltip-inner {
    min-height: 74px;
    height: 100%;
    display: flex;
    align-items: center;
}

.tt__holiday .task-tooltip-inner:after {
    left: 19px;
    bottom: -10px;
}

.tt__holiday-text {
    padding: 20px;
    min-width: 160px;
    max-width: 240px;
    font-size: 16px;
}

.tt__task-list {
    width: 363px;
    padding: 10px 20px;
}

/* ie fixes */
.ie_body select {
    background-image: none !important;
}

.wrap__task-tooltip {
    padding: 0 !important;
    opacity: 1 !important;
    pointer-events: initial !important;
}