/* calender-overlay */
.comn-tooltip {
    background-color: #2a323a;
    border-radius: 6px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.09);
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
}

.task-tooltip-inner {
    position: relative;
}

.task-tooltip-inner:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #2a323a;
}

.tt__create-task {
    width: 98px;
}

.tt-text {
    padding: 10px;
    font-size: 13px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #fff;
}

.tt__create-task .task-tooltip-inner:after {
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
}

.tt__holiday .task-tooltip-inner {
    min-height: 74px;
    height: 100%;
    display: flex;
    align-items: center;
}

.tt__holiday .task-tooltip-inner:after {
    left: 19px;
    bottom: -10px;
}

.tt__holiday-text {
    padding: 20px;
    min-width: 160px;
    max-width: 240px;
    font-size: 16px;
}

.tt__task-list {
    width: 363px;
    padding: 10px 20px;
}

/* task list */
.task__info {
    position: relative;
    width: 100%;
    padding: 16px 0;
}

.task__info:not(:last-child) {
    border-bottom: 1px solid #37404a;
}

.task__info-inner {
    width: 100%;
    display: flex;
}

.task__info .task__status {
    position: relative;
    width: 18px;
    height: 18px;
}

.task__status label {
    width: 18px;
    height: 18px;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #616d7a;
    background-image: linear-gradient(to bottom, #909faf, #808f9e);
    border-radius: 50%;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
}

.task__status label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 12px;
}

.task__status input[type="checkbox"] {
    visibility: hidden;
}

.task__status input[type="checkbox"]:checked+label {
    border-color: #66bb6a;
    background: #66bb6a;
    background-image: none;
    box-shadow: none;
}

.task__status input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.task__title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.task__desc {
    flex: 1 0 auto;
    margin: 0 10px;
    width: 220px;
}

.task__actions a {
    cursor: pointer;
    display: inline-flex;
}

.task__deadline {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #9fadba;
    margin-top: 7px;
}

.delete-task {
    margin-left: 20px;
}

.task__info.task__completed .edit-task {
    display: none;
}

.task__info.task__completed .task__title {
    color: #bfc4c8;
    text-decoration: line-through;
}

.task__info.task__completed .task__title {
    color: #bfc4c8;
    text-decoration: line-through;
}

.task__info.task__completed label {
    border-color: #66bb6a;
    background: #66bb6a;
    background-image: none;
    box-shadow: none;
}

.task__info.task__completed label:after {
    opacity: 1;
}

/* tooltip position fixes */
.tt__bottom-arrow {
    display: none;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #2a323a;
    z-index: 1;
}

.cust__arrow-show .task-tooltip-inner:after {
    display: none;
}

.cust__arrow-show .tt__bottom-arrow {
    display: block;
}

/* ie fixes */
.ie_body select {
    background-image: none !important;
}